# Ignorar carpeta de build
/build/
/forgeffects/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
# Configuración local de VS Code
.vscode/
/docs
/output_cpp
/output_R_dwnominate
/output_R_dwnominate_model0
/output_R_dwnominate_model1
/output_R_dwnominate_model2
/output_R_dwnominate_model3
/output_R_dwnominate_10iter_model1
/output_wnominate
/input_R
/tests
*.log
*.ps1