# Ignorar carpeta de build
/build/
/forgeffects/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
# Configuración local de VS Code
.vscode/
/docs
/output_cpp
/output_R_dwnominate
/output_R_dwnominate_1iter
/output_R_dwnominate_4ter_model1
/output_R_dwnominate_10iter
/output_wnominate
/input_R
/tests
*.log
*.ps1